/* layout */
body
{
  width: 500px;
  margin: 0 auto;
}
h1 a
{
  font-size: 16px;
  color: #333;
}
h2
{
  font-size: 14px;
}
#footer
{
  font-size: 10px;
  color: #999;
  margin-top: 36px;
}
/* form */
label.control-label
{
  display: block;
  background: #dddddd;
  padding: 2px 5px;
  cursor: default;
}
label.required
{
  background: #cdcdcd;
}
textarea, input#bug_pne_url
{
  width: 480px;
  margin: 0 auto 10px;
}
textarea#bug_description, textarea#custom_description, textarea#install_description
{
  height: 240px;
}
.button
{
  text-align: center;
  margin: 10px;
}
/* show */
#topic-body
{
  display: block;
  margin: 10px;
  background: #eeeeee;
  border: 1px solid #ccc;
  height: 500px;
  overflow: auto;
}