{% extends "base.html.twig" %}

{% form_theme form "fields.html.twig" %}

{% block main %}
  <form action="" method="post">
    {{ form_widget(form) }}
    <button type="submit">{{ 'Generate'|trans }}</button>
  </form>
{% endblock %}