{% extends "base.html.twig" %}

{% form_theme form "fields.html.twig" %}

{% block main %}
  <form action="" method="post">
    {% for child in form %}
      {% if child.vars.help is defined %}
        {{ form_row(child, { 'help': child.vars.help  }) }}
      {% else %}
        {{ form_row(child) }}
      {% endif %}
    {% endfor %}
    <button type="submit">{{ 'Generate'|trans }}</button>
  </form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/pne-q/js/form.js"></script>
{% endblock %}